doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title= title

		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
	body
		div.container
			h1 Hello!

			block content

			script(src="scripts/app.js")