extends ../layout

block content
	form.form
		div.form-group
		label.control-label Name
		input.form-control(type="text" value="#{form.name}")

		label.control-label URL
		input.form-control(type="text" value="#{form.link}")

	div.frame
		iframe(src="#{form.link}" width="100%" height="700")